@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
  background-color: darkslategrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size:1.5rem;
  font-family: 'Poppins', sans-serif;
}
h1{
  color: white;
  font-size: 5rem;
  text-align: center;
}
.todo-list{
  padding: 20px;
  width: 400px;
}
.task-name{
  cursor: pointer;
}
.task-completed{
  text-decoration: line-through;
}
button{
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 25px;
}
.list-of-items{
  background-color: white;
  padding: 3px 10px;
  font-size: 1.5rem;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}
.list-of-items button{
  color:crimson;
 
}
input{
  background-color: white;
  padding: 7px 10px;
  font-size: 1.5rem;
  color: black;
  outline: 0;
  border: 0;
  flex: 1;
}
form{
  display: flex;
  padding-top: 10px;
}
form button{
  color: black;
  background-color: wheat;
  outline: 0;
  padding: 0 15px;
}
